local_files/
.idea
.DS_Store
__pycache__
venv/
.env
*.env
.env.*

/src/core/relevence.py
/src/core/linkedin_app.py
/src/core/qna.py
/src/scripts/speech_to_text.py
/src/prompts/answer_format.json
/src/prompts/system_prompt.txt
/src/data/jobs_visited.json
/src/data/jobs_applied.json
/src/data/job_links_backup.json
/src/data/failed_appies.json
/new_venv/
